components:
  schemas:
    AddExternalUserInputBody:
      additionalProperties: false
      properties:
        $schema:
          description: A URL to the JSON Schema for this object.
          examples:
            - https://example.com/schemas/AddExternalUserInputBody.json
          format: uri
          readOnly: true
          type: string
        externalUserHandle:
          type: string
        externalUserId:
          type: string
        externalUserSource:
          type: string
      required:
        - externalUserSource
      type: object
    CreateBearerTokenInputBody:
      additionalProperties: false
      properties:
        $schema:
          description: A URL to the JSON Schema for this object.
          examples:
            - https://example.com/schemas/CreateBearerTokenInputBody.json
          format: uri
          readOnly: true
          type: string
        fullPermissions:
          type: boolean
      required:
        - fullPermissions
      type: object
    CreateBearerTokenOutputBody:
      additionalProperties: false
      properties:
        $schema:
          description: A URL to the JSON Schema for this object.
          examples:
            - https://example.com/schemas/CreateBearerTokenOutputBody.json
          format: uri
          readOnly: true
          type: string
        token:
          type: string
      required:
        - token
      type: object
    DeployAdminDashBody:
      additionalProperties: false
      properties:
        $schema:
          description: A URL to the JSON Schema for this object.
          examples:
            - https://example.com/schemas/DeployAdminDashBody.json
          format: uri
          readOnly: true
          type: string
        url:
          type: string
      required:
        - url
      type: object
    DeploymentCreateInputBody:
      additionalProperties: false
      properties:
        $schema:
          description: A URL to the JSON Schema for this object.
          examples:
            - https://example.com/schemas/DeploymentCreateInputBody.json
          format: uri
          readOnly: true
          type: string
        externalSource:
          type: string
        externalSourceType:
          type: string
        preserveExternalPath:
          type: boolean
        tags:
          items:
            type: string
          type:
            - array
            - "null"
        url:
          type: string
      required:
        - url
      type: object
    ErrorDetail:
      additionalProperties: false
      properties:
        location:
          description: Where the error occurred, e.g. 'body.items[3].tags' or 'path.thing-id'
          type: string
        message:
          description: Error message text
          type: string
        value:
          description: The value at the given location
      type: object
    ErrorModel:
      additionalProperties: false
      properties:
        $schema:
          description: A URL to the JSON Schema for this object.
          examples:
            - https://example.com/schemas/ErrorModel.json
          format: uri
          readOnly: true
          type: string
        detail:
          description: A human-readable explanation specific to this occurrence of the problem.
          examples:
            - Property foo is required but is missing.
          type: string
        errors:
          description: Optional list of individual error details
          items:
            $ref: "#/components/schemas/ErrorDetail"
          type:
            - array
            - "null"
        instance:
          description: A URI reference that identifies the specific occurrence of the problem.
          examples:
            - https://example.com/error-log/abc123
          format: uri
          type: string
        status:
          description: HTTP status code
          examples:
            - 400
          format: int64
          type: integer
        title:
          description: A short, human-readable summary of the problem type. This value should not change between occurrences of the error.
          examples:
            - Bad Request
          type: string
        type:
          default: about:blank
          description: A URI reference to human-readable documentation for the error.
          examples:
            - https://example.com/errors/example
          format: uri
          type: string
      type: object
    GetDeploymentOutputBody:
      additionalProperties: false
      properties:
        $schema:
          description: A URL to the JSON Schema for this object.
          examples:
            - https://example.com/schemas/GetDeploymentOutputBody.json
          format: uri
          readOnly: true
          type: string
        Url:
          $ref: "#/components/schemas/Url"
        externalSource:
          type: string
        externalSourceType:
          type: string
        hasContent:
          type: boolean
        preserveExternalPath:
          type: boolean
        servedThing:
          type: string
        servedThingType:
          type: string
        tags:
          items:
            type: string
          type:
            - array
            - "null"
      required:
        - Url
        - hasContent
        - servedThing
        - servedThingType
      type: object
    HealthCheckOutputBody:
      additionalProperties: false
      properties:
        $schema:
          description: A URL to the JSON Schema for this object.
          examples:
            - https://example.com/schemas/HealthCheckOutputBody.json
          format: uri
          readOnly: true
          type: string
        ok:
          type: boolean
      required:
        - ok
      type: object
    SuccessOutputBody:
      additionalProperties: false
      properties:
        $schema:
          description: A URL to the JSON Schema for this object.
          examples:
            - https://example.com/schemas/SuccessOutputBody.json
          format: uri
          readOnly: true
          type: string
        message:
          type: string
        success:
          type: boolean
      required:
        - success
        - message
      type: object
    Url:
      additionalProperties: false
      properties:
        domain:
          type: string
        path:
          type: string
      required:
        - domain
      type: object
info:
  title: Internet Golf API
  version: 0.5.0
openapi: 3.1.0
paths:
  /admin-dash:
    put:
      operationId: put-admin-dash
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeployAdminDashBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessOutputBody"
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      summary: Put admin DASH
  /alive:
    get:
      operationId: get-alive
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthCheckOutputBody"
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      summary: Get alive
  /deploy/files:
    put:
      operationId: put-deploy-files
      requestBody:
        content:
          multipart/form-data:
            encoding:
              contents:
                contentType: application/gzip,application/octet-stream
              keepLeadingDirectories:
                contentType: text/plain
              preserveExistingFiles:
                contentType: text/plain
              url:
                contentType: text/plain
            schema:
              properties:
                contents:
                  contentEncoding: binary
                  contentMediaType: application/octet-stream
                  format: binary
                  type: string
                keepLeadingDirectories:
                  type: boolean
                preserveExistingFiles:
                  type: boolean
                url:
                  type: string
              required:
                - url
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessOutputBody"
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      summary: Put deploy files
  /deploy/new:
    put:
      operationId: put-deploy-new
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeploymentCreateInputBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessOutputBody"
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      summary: Put deploy new
  /deployment/{url}:
    get:
      operationId: get-deployment-by-url
      parameters:
        - in: path
          name: url
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetDeploymentOutputBody"
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      summary: Get deployment by URL
  /token/generate:
    post:
      operationId: post-token-generate
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateBearerTokenInputBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateBearerTokenOutputBody"
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      summary: Post token generate
  /user/register:
    put:
      operationId: put-user-register
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AddExternalUserInputBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessOutputBody"
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      summary: Put user register
