@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    /* since tailwind css' grays are a bit blue, which isn't the look here */
    --color-actual-gray: #222;
}

@layer base {
  /* hack to get the icon color working correctly in dark mode, using class name
  set by <ColorSchemeApplicator />, in @layer base so that this is easy to override */
  .dark-mode-icon svg {
    color: var(--ant-color-text);
  }

  .light-mode-icon svg {
    opacity: 0.8;
  }
}
