@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --color-dark-bg: var(--color-gray-950);
}

.dark-mode-icon svg {
  color: var(--ant-color-text);
}
